<%= simple_form_for @order, :html => { :class => 'form-horizontal console-form' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :address, :input_html => { :rows => 3 } %>
  <%= f.input :email %>
  <%= f.input :pay_type, :required => true, :as => :select, :collection => payment_types, :prompt => 'Select a payment method' %>
  <div class='control-group'>
    <div class='controls'>
      <%= f.button :submit, 'Save Order' %>
    </div>
  </div>
<% end %>
