<div class="depot_form">
  <%= form_tag({}, { :class => 'form-horizontal' }) do %>
    <fieldset>
      <legend>Please Log In</legend>
      <% if flash[:alert] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <div class="control-group">
        <%= label_tag :name, 'Name', :class => "control-label" %>
        <div class='controls'>
          <%= text_field_tag :name, params[:name] %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :password, 'Password', :class => "control-label" %>
        <div class='controls'>
          <%= password_field_tag :password, params[:password] %>
        </div>
      </div>
      <div class="control-group">
        <div class='controls'>
          <%= submit_tag "Login", :class => "btn" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
