<%= simple_form_for @order, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %>
      prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :address, :input_html => { :rows => 3 } %>
  <%= f.input :email %>
  <%= f.input :pay_type, :required => true, :as => :select, :collection => payment_types, :prompt => 'Select a payment method' %>
  <div class='control-group'>
    <div class='controls'>
      <%= f.button :submit, 'Place Order' %>
    </div>
  </div>
<% end %>
