<div class="depot_form">
  <div class='page-header'>
    <h3>Your Cart</h3>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th>title</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for line_item in @cart.line_items %>
        <tr>
          <td><%= line_item.product.title %></td>
          <td><%= line_item.quantity %></td>
          <td><%= line_item.price %></td>
          <td><%= number_to_currency(line_item.total_price) %></td>
          <td><%= button_to "delete", line_item_path(line_item), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-small' %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td><b>Total Price</b></td>
        <td><%= number_to_currency(@cart.total_price) %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <%= button_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?', :class => 'btn btn-danger', :style => "float: right" %>
  <div class='page-header' style="margin-top: 100px;">
    <h3>Please Enter Your Details</h3>
  </div> 
  <%= render 'form' %>
</div>
<%= link_to "back to store", store_url %>