<%= simple_form_for @product, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :description, :input_html => { :rows => 6 } %>
  <%= image_tag(@product.image_url, :style => "margin-left: 180px") if @product.image_url? %>
  <%= f.input :image_url, :as => :file %>
  <%= f.input :image_url_cache, :as => :hidden %>
  <%= f.input :price, :as => :string, :required => true %>
  <div class="control-group">
    <div class='controls'>
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
