<%= simple_form_for @product, :html => { :class => 'form-horizontal console-form', :multipart => true } do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :description, :input_html => { :rows => 6 } %>
  <%= image_tag(@product.image_url, :style => "margin: 0 0 20px 180px") if @product.image_url? %>
  <%= f.input :image_url, :as => :file %>
  <%= f.input :image_url_cache, :as => :hidden %>
  <%= f.input :price, :as => :string, :required => true %>
  <%= f.input :stock, :input_html => { :min => 0 } %>
  <div class="control-group">
    <div class='controls'>
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
