<div class='title'>
  <h3>Your Pragmatic Catalog</h3>
</div> 

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<div id='list'>
  <% @products.each do |product| %>
    <div class="entry">
      <%= image_tag(product.image_url) %>
      <h3><%= product.title %></h3>
      <%= sanitize(product.description) %>
      <div class="price_line">
        <span class="price"><%= number_to_currency(product.price) %></span>
        <%= button_to 'Add to Cart', line_items_path(:product_id => product), :remote => true, :class => 'btn btn-small' %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @products %>
</div>
